@font-face {
   font-family: 'Great Vibes';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/webs/estyajoza/fonts/Great Vibes/regular.ttf') format('truetype');
}
