@font-face {
   font-family: 'Yellowtail';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/danielpina/Documents/estyajoza/fonts/Yellowtail/regular.ttf') format('truetype');
}
