@font-face {
   font-family: 'Kaushan Script';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/danielpina/Documents/estyajoza/fonts/Kaushan Script/regular.ttf') format('truetype');
}
