@font-face {
   font-family: 'Marck Script';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/danielpina/Documents/estyajoza/fonts/Marck Script/regular.ttf') format('truetype');
}
