@font-face {
   font-family: 'Cookie';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/danielpina/Documents/estyajoza/fonts/Cookie/regular.ttf') format('truetype');
}
