@font-face {
   font-family: 'Surveyor Display Medium Regular';
   font-display: swap;
   src: url('file:///Users/danielpina/Documents/estyajoza/fonts/Surveyor%20Display%20Medium%20Regular/font.ttf');
}
