@font-face {
   font-family: 'Surveyor Display Medium Regular';
   font-display: swap;
   src: url('file:///Users/danielpina/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-10-12_083327/fonts/Surveyor%20Display%20Medium%20Regular/font.ttf');
}
